/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	font-family: Arial, Geneva,Helvetica, sans-serif;
	font-size: 100%;
}
.wrap{
	margin:0 auto;
	width:80%;
}
.wrapper{
	padding: 3%;
}
h2.style{
	text-transform: uppercase;
	font-family: 'Six Caps', sans-serif;
	font-size: 2.5em;
	color: #707070;
}
.para {
	font-size: 0.8125em;
	line-height: 1.8em;
	color: #707070;
}
/*start header menu */
.header_menu{
 	background: #ffffff;
}
.cssmenu {
	text-align:center;
}
.cssmenu > ul > li {
  display:inline-block;
  position: relative;
  width: 16.3333%;
  border-right:1px solid #e1e6e9;
  margin-right: -4px;
}
.cssmenu > ul > li.active a{
	color:#3d4944;
}
.cssmenu > ul > li:nth-child(5){
	border-right:none;
}
.cssmenu > ul > li span img {
	vertical-align: middle;
}
.cssmenu > ul > li > a {
	text-transform: uppercase;
	display: block;
	font-family: 'Six Caps', sans-serif;
	font-size: 2.5em;
	color: #C5C5C5;
	padding: 14px 24px;
	-webkit-transition: color .15s;
	-moz-transition: color .15s;
	-o-transition: color .15s;
	transition: color .15s;
}
.cssmenu > ul > li > a:hover {
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
	transition: 0.9s;
	color: #3d4944;
}
.main_top{
	position:relative;
}
.main_top:before{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 30px solid #FFFFFF;
	border-bottom: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 30px solid rgba(0, 0, 0, 0)!important;
	border-left: 30px solid rgba(0, 0, 0, 0)!important;
	left: 48%;
	top: 100%;
}
/*start main*/
.main{
	background:#3d4944;
}
.logo{
	text-align:center;
}
.logo h1 a{
	font-size: 10em;
	color: #ffffff;
	font-family: 'Six Caps', sans-serif;
	text-shadow: 0 1px 0 rgb(14, 14, 14);	
}
/*start slider*/
.slider{
	margin-top:2%;
	padding: 3%;
	background: #ffffff;
}
/*start content*/
.grids_of_3{
	display: block;
}
.grid_1_of_3{
	float:left;
	margin:3% 0 3% 3%;
	background: #F0F0F0;
	position: relative;
}
.grid_1_of_3:first-child { 
	margin-left: 0; 
} 
.images_1_of_3 {
	width: 25.333333%;
	padding:3%; 
}
.images_1_of_3  img {
	max-width:100%;
	display:block;
}
.images_1_of_3  h3{
	text-transform: uppercase;
	font-family: 'Six Caps', sans-serif;
	font-size: 2.5em;
	color: #707070;
	margin: 0.5em 0;
}
.images_1_of_3  p  {
	font-size:0.8125em;
	line-height: 1.8em; 	
	color: #707070;
}
.images_1_of_3 .button{
	display: block;
	margin-top: 12%;
}
.images_1_of_3 .button a{
	background: #3d4944;
	position: absolute;
	bottom: 0;
	left:0;
	padding: 12px 24px;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-size: 0.8125em;
	color:#ffffff;
	line-height:1.8em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;	
}
.images_1_of_3 .button a:hover{
	background: #38423E;
	text-decoration:none; 
}
/*start bottom content*/
/*  GRID OF THREE   ============================================================================= */
.cols_of_3{
	padding-bottom: 4%;
}
.col_1_of_3{
	display: block;
	float:left;
	margin-left: 3%;
}
.col_1_of_3:first-child { margin-left: 0; }
.span_1_of_3 {
	width: 31.333333%;
}
.span_1_of_3  h3{
	text-transform: uppercase;
	font-family: 'Six Caps', sans-serif;
	font-size: 3.5em;
	color: #FFFFFF;
	margin: 0.3em 0;
}
.span_1_of_3 span{
	font-size: 0.8725em;
	line-height: 1.8em;
	color: #9BB4AE;
	text-transform:uppercase;
}
.span_1_of_3  p  {
	font-size: 0.8125em;
	line-height: 1.8em;
	color: #6F8B80;
}
.span_1_of_3 p.top{
	margin-top: 3%;
}
.text_s {
	margin-top: 8%;
}
.text_s1{
	margin-top: 3%;
}
.text_nav{
	margin-top: 3%;
}
.text_nav ul li:before{
	vertical-align: middle;
	content: url('../images/marker.png');
	display: inline-block;
	margin: 1px 8px 0 0;
}
.text_nav ul li a{
	font-size: 0.8725em;
	line-height: 2.8em;
	color: #6F8B80;
	text-transform: capitalize;
}
.text_nav ul li a:hover{
	color: #9BB4AE;
}
.text_img{
	float: left;
	width: 30.33333%;
	margin: 2% 3% 0 0;
}
.text_para{
	float: right;
	width: 62.33333%;
}
.text_img img{
	padding: 10px;
	background: #ffffff;
}
.text_img img:hover{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background: #9BB4AE;
}
/* start read_more*/
.read_more {
	display: inline-block;
	margin-top: 2em;
}
.btn{
	background: #FCFCFC;
	padding: 12px 24px;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-size: 0.8125em;
	color: #6F8B80;
	line-height: 1.8em;
}
.btn:hover{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background:#6F8B80;
	color: #ffffff;
}
.btn1{
	background:#6F8B80;
	padding: 12px 24px;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-size: 0.8125em;
	color: #ffffff;
	line-height: 1.8em;
}
.btn1:hover{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background: #5A6D65;
	color: #ffffff;
}
/*start footer*/
.footer_bg{
	background: #ffffff;
}
.main_top1{
	position:relative;
}
.main_top1:before{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 30px solid #FFFFFF;
	border-top: 0px solid rgba(0, 0, 0, 0)!important;
	border-right: 30px solid rgba(0, 0, 0, 0)!important;
	border-left: 30px solid rgba(0, 0, 0, 0)!important;
	left: 48%;
	top: -7%;
}
.footer{
	width: 60%;
	margin: 0 auto;
	text-align:center;
	padding: 2% 0;
}
.f_nav{
	float: left;
}
.f_nav li{
	display: inline-flex;
}
.f_nav li:before{
	vertical-align: middle;
	content: url('../images/mail.png');
	margin: 1px 8px 0 0;
}
.f_nav li a{
	padding: 4px;
	font-size: 1.5em;
	color: #999999;
	display: block;
}
.f_nav li a:hover{
	color:#3d4944;
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
	transition: 0.9s;
}
.f_call{
	float: right;
}
.f_call h3:before{
	display: inline-block;
	vertical-align: middle;
	content: url('../images/call.png');
	margin: 8px 8px 0 0;
}
.f_call h3 {
	font-size:1.5em;
	color: #999999;
	text-transform: uppercase;
}
.footer h2 a{
	font-family: 'Six Caps', sans-serif;
	font-size: 10em;
	color:#3d4944;
	letter-spacing: -0px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #363636;
}
.footer h2 a:hover{
	color: #282E2C;
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
	transition: 0.9s;
}
.copy{
	margin-top: 2%;
}
.copy p{
	line-height:1.8em;
	color: #707070;
	font-size: 0.8125em;
	text-transform: uppercase;
}
.copy p a{
	color:#3d4944;
}
.copy p a:hover{
	color: #707070;
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
	transition: 0.9s;
}
/* start about */
.main1 {
	background: #ffffff;
	padding: 3%;
	margin-bottom: 3%;
}
.about{
	margin-top: 2%;
}
.cont-grid {
	float: left;
	width: 61.33%;
	margin-left: 2.33%;
}
.cont-grid span{
	font-size: 1.5em;
	color: #6F8B80;
	text-transform: capitalize;
}
.abt-para p{
	margin-top: 2%;
}
.cont-grid-img{
	width: 36.33%;
	float:left;
}
.about-p{
	margin-top:20px;
}
/* start service*/
.ser-main{
	float: left;
}
.ser-grid{
	float:right;
}
.ser-grid-list:nth-last-child(2){
	margin-right: 0;
}
.ser-grid-list{
	float: left;
	width: 21.33333%;
	margin-right: 4%;
}
.ser-grid-list h5{
	font-size: 1.5em;
	color: #6F8B80;
	text-transform: capitalize;
}
.ser-grid-list img{
	margin-top:15px;
}
.ser-grid-list p{
	margin: 8% 0 0;
}
.ser-para {
	margin: 2% 0;
}
/* start products */
.image.group{
	margin-top: 3%;
}
.grid {
	display: block;
	float:left;
	margin-left: 3%;
}
.grid:first-child { margin-left: 0; }

.images_3_of_1 {
	width:30.33333%;
}
.span_2_of_3{
	padding:0;
	width: 66.33333%;
}
.images_3_of_1  img {
	max-width:100%;
	display:block;
}
.span_2_of_3  p  {
	padding:0.3em 0;
}
/*start Contact*/
.col{
	display: block;
}
.contact_info{
	float: left;
	width: 60.33333%;
}
.company_address {
	float: right;
	margin-left: 4%;
	width: 35.3333%;
}
.col.span_1_of_2 h2{
	margin-bottom: 4%;
}
.contact-form{
	position:relative;
	margin-top: 2%;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	color:#777777;
	display:block;
	font-size: 0.8725em;
	padding-bottom:5px;
}
.company_address p{
	padding:2px 0;
	color: #707070;
	font-size: 0.8725em;
	line-height: 1.8em;
}
.company_address p span{
	color:#3d4944;
	cursor:pointer;
}
.company_address p span:hover{
	color: #707070;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}
.map{
	margin: 2% 0;
}
.contact-form input[type="text"],.contact-form textarea{
	font-family: Arial, Geneva,Helvetica, sans-serif;
	font-size:0.8725em;
	color: #555;
	padding: 8px;
	display: block;
	width: 98%;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	outline: none;
	-webkit-appearance: none;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form input[type="text"]:focus,.contact-form textarea:focus{
	-webkit-transition: 0.9s;
	-o-transition: 0.9s;
	-moz-transition: 0.9s;
	transition: 0.9s;
	border: 1px solid rgba(117, 95, 165, 0.05);
	box-shadow: 0px 1px 4px #C2C2C2;
	-webkit-box-shadow: 0px 1px 4px #C2C2C2;
	-moz-box-shadow:0px 1px 2px #B2A4D3;
	-o-box-shadow:0px 1px 4px #C2C2C2;
}
.contact-form input[type="submit"]{
	cursor:pointer;
	background: #6F8B80;
	padding: 12px 24px;
	text-transform: uppercase;
	font-size: 0.8125em;
	color: #ffffff;
	line-height: 1.8em;
	letter-spacing:1px;
	outline: none;	
	border: none;
	-webkit-appearance: none;
}
.contact-form input[type="submit"]:hover{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background: #5A6D65;
	color: #ffffff;
}
/*start details */
.det_pic{
	margin:2% 0;
}
/*start 404*/
.page{
	padding:10% 0;
	text-align:center;
}
.page h3{
	font-size: 12em;
	color: #3d4944;
}
/***** Media Quries *****/
@media only screen and (max-width: 1280px) {
	.wrap{
		width:95%;
	}
}
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}
	.images_1_of_3 h3 {
		font-size: 2em;
	}
	.span_1_of_3 h3 {
		font-size: 2em;
	}
	.text_img img {
		padding: 5px;
	}
}
@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.images_1_of_3 {
		width: 94.333333%;
	}
	.span_1_of_3 {
		width: 99.333333%;
	}
	.col_1_of_3 {
		margin-left: 0%;
	}
	.grid_1_of_3 {
		margin: 3% 0 3% 0%;
	}
	.text_s {
		margin-top: 0%;
	}
	.text_img {
		float: left;
		width: 16.33333%;
		margin: 1% 3% 0 0;
	}
	.text_para {
		width: 80.33333%;
	}
	.cssmenu > ul > li a{
		padding:8px 16px;
	}
}
@media only screen and (max-width: 640px){
	.wrap{
		width:95%;
	}
	.cont-grid-img {
		width: 100%;
	}
	.cont-grid {
		width: 100%;
		margin-left: 0%;
	}
	.ser-grid-list {
		width: 44.33333%;
		margin-bottom: 4%;
	}
	.cssmenu > ul > li {
		width: 16.3333%;
		margin-right: 0px;
	}
	.cssmenu > ul > li a{
		font-size:0.8975em;
		padding:8px 0px;
		font-family: Arial, Geneva,Helvetica, sans-serif;
	}
}
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.company_address {
		float: none;
		margin-left: 0;
		width: 99.3333%;
	}
	.contact_info {
		float: none;
		width: 100%;
	}
	.contact-form input[type="text"], .contact-form textarea {
		width: 94%;
	}
	.logo h1 a {
		font-size: 8em;
	}
	.footer h2 a {
		font-size: 6em;
	}
	.cssmenu > ul > li a{
		font-size:0.8725em;
		padding:8px 0px;
		text-transform: capitalize;
	}
}
@media only screen and (max-width: 320px) {
	.wrap{
		width:95%;
	}
	.cssmenu {
		text-align:left;
	}
	.footer {
		width:100%;
		margin: 0;
		text-align: left;
		padding: 0% 0;
	}
	.logo h1 a {
		font-size: 6em;
	}
	.footer h2 a {
		font-size: 4em;
	}
}














